
* {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1.35rem;
}

div a {
    color: #000;
}


/*menu navigation*/

.main-header {
    background: #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 140px;
}

.menu-ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #ffffff;
    white-space: nowrap;
}

.menu-nav {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
}

/* image */

.etoile {
    width: 35px; /* Définir la largeur souhaitée */
    height: auto; /* Garder le rapport hauteur/largeur d'origine */
    margin-right: 5px; /* Ajouter une marge entre les étoiles (ajustez selon vos besoins) */   
}

.photo {
    width: 200px;
    height: auto;
}

/*___________________________________________________*/

.para {
    margin-top: 1em;
    margin-left: 3em;
    margin-bottom: 1em;
}

.body {
    background: #ffffff;
}

main {
    margin-top: 1em;
    margin-left: 2em;
}

a.main {
    color: #000000;
}

section {
    padding-top: 140px;
    height: 100vh;
}

.position {
    display: flex;
    justify-content: space-between;
    width: 400px; 
}

.alinéa {
    margin-left: 3vh
}