* {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
 
#Accueil {
    border : 3em solid #000;
}

.listeexperience {
    margin-left: 1em;
}

.main-header {
    background: rgb(5, 34, 32);
    color: #ffffff;
}

.para {
    margin-top: 1em;
    margin-left: 3em;
}

.body {
    background: #fffff;
}

main {
    margin-top: 1em;
    margin-left: 2em;
}

a.main {
    color: #000000;
}

.menu-ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}

.menu-nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
}

nav ul li a {
    display: block;
    padding: 10px;
}

.etoile {
    width: 20px; /* Définir la largeur souhaitée */
    height: auto; /* Garder le rapport hauteur/largeur d'origine */
    margin-right: 5px; /* Ajouter une marge entre les étoiles (ajustez selon vos besoins) */   
}

.position {
    display: flex;
    justify-content: space-between;
    width: 300px; 
}
