* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header {
    background: rgb(5,34,32);
    color: #ffffff;
}


/* Menu */
ul.menu {
    list-style: none; /* Supprimez les puces de la liste */
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.main-nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
}
a {
    text-decoration: none; /* Supprime le soulignement */
    color: #ffffff;
}








.body {
    background: #cff0ee;
}
@media (max-width: 1000px) {
    .nav {
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 2rem;

    }
}